nnoremap H ^ 
nnoremap L $

set ideajoin
set surround
set hlsearch
set clipboard=unnamed
set smartcaseset
set ideajoin
set history=100000
let g:EasyMotion_override_acejump = 0
let mapleader="s"
set easymotion

clipboard+=ideaput
